<div class="showpg-head">
    <h2>Here is the superhero you searched for!</h2>
</div>

<div class="hero-info">
    <div class="hero-name">
        <%= hero.data.results[0].name %>
    </div>

    <div class="hero-img">
        <img src="<%= hero.data.results[0].thumbnail.path %>.jpg">
    </div>
    <div class="hero-desc">
        <p> <%= hero.data.results[0].description %></p>
    </div>
</div>

<div class="team-form">
    <% if (team.length < 5) { %>   
        <p>Click here to add this superhero to your team</p>
        <form method="POST" action="/hero/team">
            <input name="name" type="hidden" value="<%= hero.data.results[0].name %>">
            <input name="description" type="hidden" value="<%= hero.data.results[0].description %>">
            <input name="image" type="hidden" value="<%= hero.data.results[0].thumbnail.path %>">
            <input class="btn btn-default navbar-btn" type="submit">
        </form>
    <% } %>
</div>