<h3>Here is the superhero you searched for!</h3>

<%= hero.data.results[0].name %>

<img src="<%= hero.data.results[0].thumbnail.path %>.jpg">

<p> <%= hero.data.results[0].description %></p>


<% console.log(team) %>
<% if (team.length < 5) { %>
    <p>Click here to add this superhero to your team</p>
    <form method="POST" action="/hero/team">
        <input name="name" type="hidden" value="<%= hero.data.results[0].name %>">
        <input name="description" type="hidden" value="<%= hero.data.results[0].description %>">
        <input name="image" type="hidden" value="<%= hero.data.results[0].thumbnail.path %>">
        <input type="submit">
    </form>
<% } %>