<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Villain</title>
</head>
<body>

    <div class="villain-head">
        <h3> Who will be the threat that your Avengers Team will face?</h3>
        <h4> Choose a super villain that a good match against your team! Do you think they can defeat your team?</h4>
    </div>

   
        <% villain.forEach((vill) => { %>
            <div class="villain-info">
                <div class="villain-name">
                    <p> <%= vill.name %> </p>
                </div>
                <div class="villain-img">
                    <img src="<%= vill.image %>.jpg">
                </div>
                <div class="villain-desc">
                    <p> <%= vill.description %> </p>
                </div>
            </div>
        <% }) %>
   

    <div class="jumbotron">
        <h1>Who Will Win This Fight?</h1>
        <h3>Select a villain from the dropdown... choose wisely!</h3>
        <form method="POST" action="/hero/fight">
            <select name="villain" id="villain" class="form-control" required>
                <% villain.forEach((vill) => { %>
                    <option value="<%= vill.id %>"><%= vill.name %></option>
                <% }) %>
              </select>
        </form>
        
        <div class="yourteam">
            <h3>This is your team!</h3>
            <% team.forEach((hero) => { %>
                <p> <%= hero.name %> </p>
            <% }) %>
        </div>

        <h2>Which side is winning? Vote Now!</h2>

        <div class="pointsBtn">
            <form method="POST" action="/hero/villain/upvote/?_method=PUT">
                <input type="submit" value="Hero Team!">
                <%= team[0].heroPoints %>
            </form>
            <form method="POST" action="/hero/villain/downvote?_method=PUT">
                <input id="villainBtn" type="submit" name="villainBtn" value="The Villain">
                <input type="hidden" name="id" value=" <%= villain[0].id %> " >
                <%= villain[0].villainPoints %>
            </form>
        </div>
    </div>
</body>
</html>