<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Villain</title>
</head>
<body>
    <form method="POST" action="/hero/fight">
        <select name="villain" id="villain" class="form-control" required>
            <% villain.forEach((vill) => { %>
                <option value="<%= vill.id %>"><%= vill.name %></option>
                <h2>Who Will Win This Fight?</h2>
            <% }) %>
          </select>
          <input type="submit" name="villainSubmit">
    </form>
    <input type="button" name="heroBtn" value="Hero Team">
    <input type="button" name="villainBtn" value="The Villain">

    <h3> Who will be the threat that your Avengers Team will face?</h3>
    <h4> Choose a super villain that a good match against your team! Do you think they can defeat your team?</h4>




    <div id="villain-img">
        <% villain.forEach((vill) => { %>
            <h4> <%= vill.name %> </h3>
            <img src="<%= vill.image %>.jpg">
            <p> <%= vill.description %> </p>
            <form method="POST" action="/fight">
                <input hidden type="text" name="name" value="">
                <button class="btn btn-primary" type="submit">Select this villain!</button>
                
            </form>
        <% }) %>
    </div>

    <script>

    </script>
</body>
</html>