<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Villain</title>
</head>
<body>

    <form method="POST" action="/hero/fight">
        <select name="villain" id="villain" class="form-control" required>
            <% villain.forEach((vill) => { %>
                <option value="<%= vill.id %>"><%= vill.name %></option>
                <h2>Who Will Win This Fight?</h2>
            <% }) %>
          </select>
          <input type="submit" name="villainSubmit">
    </form>
    <% team.forEach((hero) => { %>
        <p> <%= hero.name %> </p>
    <% }) %>

    <div id="pointsBtn">
        <form method="PUT" action="hero/villain/upvote">
            <input type="submit" value="Hero Team!">
            <% team.forEach((hero) => { %>
                <%= hero.heroPoints %>
            <% }) %> 
        </form>
        <form method="PUT" action="hero/villain/downvote">
            <input id="villainBtn" type="submit" name="villainBtn" value="The Villain">
            <% villain.forEach((vill) => { %>
                <%= vill.villainPoints %>
            <% }) %>
        </form>
    </div>



    <h3> Who will be the threat that your Avengers Team will face?</h3>
    <h4> Choose a super villain that a good match against your team! Do you think they can defeat your team?</h4>


    <div id="villain-img">
        <% villain.forEach((vill) => { %>
            <h4> <%= vill.name %> </h3>
            <img src="<%= vill.image %>.jpg">
            <p> <%= vill.description %> </p>
            <form method="POST" action="/fight">
                <input hidden type="text" name="name" value="">                
            </form>
        <% }) %>
    </div>


    <script>
        // var button = document.getElementById("pointsBtn");

        // button.addEventListener("click", points);
        
        // function points(e) {
        //     e.preventDefault();
        // }

    </script>
</body>
</html>